[submodule "libs/websocketpp"]
	path = libs/websocketpp
	url = https://github.com/MrDarkSkil/websocketpp.git
[submodule "libs/rapidjson"]
	path = libs/rapidjson
	url = https://github.com/miloyip/rapidjson.git