[submodule "libs/ogre"]
	path = libs/ogre
	url = https://github.com/OGRECave/ogre.git
[submodule "libs/OIS"]
	path = libs/OIS
	url = https://github.com/wgois/OIS.git
[submodule "libs/ogrebullet"]
	path = libs/ogrebullet
	url = https://bitbucket.org/alexeyknyshev/ogrebullet.git
[submodule "libs/bullet3"]
	path = libs/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "libs/CEGUI"]
	path = libs/CEGUI
	url = https://github.com/OpenTechEngine/CEGUI.git
	branch = v0-8
