# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Executables
*.exe
*.out
*.app

# Ctags
*.tags
.tags1

# cmake
Indie-Studio/dist/CMakeFiles
*.cmake
*.log
*.bin
*.cache
*.make
*.txt

Socket-Studio/server/node_modules
